# LetsGrowMore -VIP

## Author: Pranavi Shakkari

### Beginner Level - Task 3

#### Music Recommendation

##### 1.Importing libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split

##### 2.Reading the data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df1 = pd.read_csv("/content/drive/My Drive/sample_submission.csv")
df1.head()

   id  target
0   0     0.5
1   1     0.5
2   2     0.5
3   3     0.5
4   4     0.5

In [ ]:
df2 = pd.read_csv("/content/drive/My Drive/song_extra_info.csv")
df2.head()

                                        song_id             name          isrc
0  LP7pLJoJFBvyuUwvu+oLzjT+bI+UeBPURCecJsX1jjs=               我們  TWUM71200043
1  ClazTFnk6r0Bnuie44bocdNMM3rdlrq0bCGAsGUWcHE=  Let Me Love You  QMZSY1600015
2  u2ja/bZE3zhCGxvbbOB3zOoUjx27u40cf5g09UXMoKQ=              原諒我  TWA530887303
3  92Fqsy0+p6+RHe2EoLKjHahORHR1Kq1TBJoClW9v+Ts=          Classic  USSM11301446
4  0QFmz/+rJy1Q56C1DuYqT9hKKqi5TUqx0sN0IwvoHrw=             愛投羅網  TWA471306001

In [ ]:
df3=pd.read_csv("/content/drive/My Drive/members.csv")
df3.head()

                                           msno  ...  expiration_date
0  XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=  ...         20170920
1  UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=  ...         20170622
2  D8nEhsIOBSoE6VthTaqDX8U6lqjJ7dLdr72mOyLya2A=  ...         20170712
3  mCuD+tZ1hERA/o5GPqk38e041J8ZsBaLcu7nGoIIvhI=  ...         20150907
4  q4HRBfVSssAFS9iRfxWrohxuk9kCYMKjHOEagUMV6rQ=  ...         20170613

[5 rows x 7 columns]

In [ ]:
df4=pd.read_csv("/content/drive/My Drive/songs.csv")
df4.head()

                                        song_id  ...  language
0  CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=  ...       3.0
1  o0kFgae9QtnYgRkVPqLJwa05zIhRlUjfF7O1tDw0ZDU=  ...      31.0
2  DwVvVurfpuz+XPuFvucclVQEyPqcpUkHR0ne1RQzPs0=  ...      31.0
3  dKMBWoZyScdxSkihKG+Vf47nc18N9q4m58+b4e7dSSE=  ...       3.0
4  W3bqWd3T+VeHFzHAUfARgW9AvVRaF4N5Yzm4Mr6Eo/o=  ...      52.0

[5 rows x 7 columns]

In [ ]:
df5=pd.read_csv("/content/drive/My Drive/test.csv")
df5.head()

   id  ...          source_type
0   0  ...        local-library
1   1  ...        local-library
2   2  ...  song-based-playlist
3   3  ...                radio
4   4  ...                radio

[5 rows x 6 columns]

In [ ]:
df6=pd.read_csv("/content/drive/My Drive/train.csv")
df6.head()

                                           msno  ... target
0  FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=  ...      1
1  Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=  ...      1
2  Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=  ...      1
3  Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=  ...      1
4  FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=  ...      1

[5 rows x 6 columns]

In [ ]:
data cleaning and enhancement

In [ ]:
train = df6.merge(df3,how = 'left', on = 'msno')
train = train.merge(df4, how='left', on='song_id')
test = df5.merge(df3,how = 'left', on = 'msno')
test = test.merge(df4, how='left', on='song_id')

In [ ]:
print(train.head())
print(test.head())

                                           msno  ... language
0  FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=  ...     52.0
1  Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=  ...     52.0
2  Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=  ...     52.0
3  Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=  ...     -1.0
4  FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=  ...     52.0

[5 rows x 18 columns]
   id                                          msno  ...      lyricist language
0   0  V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=  ...           NaN      3.0
1   1  V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=  ...       孫燕姿/易家揚      3.0
2   2  /uQAlrAkaczV+nWCd2sPF2ekvXPRipV7q0l+gbLuxjw=  ...  Yu Takahashi     17.0
3   3  1a6oo/iXKatxQx4eS9zTVD+KlSVaAFbTIqVvwLC1Y0k=  ...           NaN     52.0
4   4  1a6oo/iXKatxQx4eS9zTVD+KlSVaAFbTIqVvwLC1Y0k=  ...           NaN     -1.0

[5 rows x 18 columns]

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7377418 entries, 0 to 7377417
Data columns (total 18 columns):
 #   Column                  Dtype
---  ------                  -----
 0   msno                    object
 1   song_id                 object
 2   source_system_tab       object
 3   source_screen_name      object
 4   source_type             object
 5   target                  int64
 6   city                    int64
 7   bd                      int64
 8   gender                  object
 9   registered_via          int64
 10  registration_init_time  int64
 11  expiration_date         int64
 12  song_length             float64
 13  genre_ids               object
 14  artist_name             object
 15  composer                object
 16  lyricist                object
 17  language                float64
dtypes: float64(2), int64(6), object(10)
memory usage: 1.0+ GB

In [ ]:
for column in ['city', 'registered_via', 'language']:
    train[column] = train[column].astype('str')
    test[column] = test[column].astype('str')

for column in ['registration_init_time', 'expiration_date']:
  train[column] = pd.to_datetime(train[column], format='%Y%m%d')
  test[column] = pd.to_datetime(test[column], format='%Y%m%d')

In [ ]:
for column in list(train.columns):
    if train[column].dtype.kind == 'O':
        train[column].fillna('NA', inplace=True)
    elif train[column].dtype.kind in ['i','f']:
        if train[column].isnull().sum() > 0:
            train[column].fillna(train[column].median(), inplace=True)
for column in list(test.columns):
    if test[column].dtype.kind == 'O':
        test[column].fillna('NA', inplace=True)
    elif test[column].dtype.kind in ['i','f']:
        if test[column].isnull().sum() > 0:
            test[column].fillna(test[column].median(), inplace=True)

In [ ]:
for x in [x for x in train.columns if train[x].dtype.kind == 'O']:
    train[x] = train[x].astype('category')

for x in [x for x in test.columns if test[x].dtype.kind == 'O']:
    test[x] = test[x].astype('category')
for col in train.select_dtypes(include=['category']).columns:
    train[col] = train[col].cat.codes
for col in test.select_dtypes(include=['category']).columns:
    test[col] = test[col].cat.codes

In [ ]:
!pip install catboost

Collecting catboost
  Downloading catboost-0.26.1-cp37-none-manylinux1_x86_64.whl (67.4 MB)
     |████████████████████████████████| 67.4 MB 42 kB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.26.1

##### 3.model training and prediction

In [ ]:
from catboost import CatBoostClassifier
X_train = train.drop(['target'], axis = 1)
y_train = train.target


model = CatBoostClassifier(iterations = 50, learning_rate = 0.3, depth =10)
model.fit(X_train, y_train)

0:	learn: 0.6724585	total: 3.41s	remaining: 2m 47s
1:	learn: 0.6617438	total: 6.7s	remaining: 2m 40s
2:	learn: 0.6558081	total: 9.87s	remaining: 2m 34s
3:	learn: 0.6520938	total: 13.1s	remaining: 2m 31s
4:	learn: 0.6499720	total: 16.5s	remaining: 2m 28s
5:	learn: 0.6485910	total: 19.8s	remaining: 2m 24s
6:	learn: 0.6472474	total: 23.2s	remaining: 2m 22s
7:	learn: 0.6463868	total: 26.4s	remaining: 2m 18s
8:	learn: 0.6455208	total: 29.9s	remaining: 2m 16s
9:	learn: 0.6445860	total: 33.2s	remaining: 2m 12s
10:	learn: 0.6436773	total: 36.7s	remaining: 2m 10s
11:	learn: 0.6431074	total: 40.1s	remaining: 2m 6s
12:	learn: 0.6423387	total: 43.3s	remaining: 2m 3s
13:	learn: 0.6418105	total: 46.7s	remaining: 2m
14:	learn: 0.6414277	total: 49.9s	remaining: 1m 56s
15:	learn: 0.6410635	total: 53.1s	remaining: 1m 52s
16:	learn: 0.6406671	total: 56.3s	remaining: 1m 49s
17:	learn: 0.6402820	total: 59.6s	remaining: 1m 45s
18:	learn: 0.6397845	total: 1m 2s	remaining: 1m 42s
19:	learn: 0.6392275	total: 1m 6s	remaining: 1m 39s
20:	learn: 0.6387829	total: 1m 9s	remaining: 1m 36s
21:	learn: 0.6378898	total: 1m 13s	remaining: 1m 33s
22:	learn: 0.6374574	total: 1m 16s	remaining: 1m 29s
23:	learn: 0.6371085	total: 1m 19s	remaining: 1m 26s
24:	learn: 0.6364589	total: 1m 23s	remaining: 1m 23s
25:	learn: 0.6361434	total: 1m 26s	remaining: 1m 19s
26:	learn: 0.6357090	total: 1m 29s	remaining: 1m 16s
27:	learn: 0.6355581	total: 1m 32s	remaining: 1m 12s
28:	learn: 0.6352497	total: 1m 36s	remaining: 1m 9s
29:	learn: 0.6346682	total: 1m 39s	remaining: 1m 6s
30:	learn: 0.6345134	total: 1m 42s	remaining: 1m 2s
31:	learn: 0.6338434	total: 1m 46s	remaining: 60s
32:	learn: 0.6335581	total: 1m 49s	remaining: 56.6s
33:	learn: 0.6329906	total: 1m 53s	remaining: 53.3s
34:	learn: 0.6327042	total: 1m 56s	remaining: 50s
35:	learn: 0.6325232	total: 1m 59s	remaining: 46.6s
36:	learn: 0.6322992	total: 2m 3s	remaining: 43.2s
37:	learn: 0.6319988	total: 2m 6s	remaining: 39.9s
38:	learn: 0.6317450	total: 2m 9s	remaining: 36.6s
39:	learn: 0.6311851	total: 2m 13s	remaining: 33.3s
40:	learn: 0.6309713	total: 2m 16s	remaining: 29.9s
41:	learn: 0.6307550	total: 2m 19s	remaining: 26.6s
42:	learn: 0.6305077	total: 2m 22s	remaining: 23.3s
43:	learn: 0.6301947	total: 2m 26s	remaining: 19.9s
44:	learn: 0.6299941	total: 2m 29s	remaining: 16.6s
45:	learn: 0.6294454	total: 2m 32s	remaining: 13.3s
46:	learn: 0.6291685	total: 2m 36s	remaining: 9.98s
47:	learn: 0.6289765	total: 2m 39s	remaining: 6.66s
48:	learn: 0.6285629	total: 2m 43s	remaining: 3.33s
49:	learn: 0.6282879	total: 2m 46s	remaining: 0us

In [ ]:
predict_labels = model.predict(test)
test['target'] = predict_labels
print(test)

              id   msno  song_id  ...  lyricist  language  target
0              0  12934   122191  ...     11137         4       1
1              1  12934   217907  ...     18460         4       1
2              2    712    37385  ...     15873         2       0
3              3   1383   224360  ...     11137         8       0
4              4   1383    85597  ...     11137         0       0
...          ...    ...      ...  ...       ...       ...     ...
2556785  2556785  14024   212075  ...       779         8       0
2556786  2556786  18800    78127  ...     18729         4       0
2556787  2556787  18800   219419  ...     23635         4       0
2556788  2556788  18800   121326  ...     11137         4       0
2556789  2556789  18800   154308  ...     18087         4       0

[2556790 rows x 19 columns]